body {
  padding: 50px;
  font: 12px "Oswald" ;
  font-weight: bold;
  color:steelblue;
}
label {
  font-weight: bold;
  color:steelblue;
}

button {
  margin: 12px;
  font: 12px "Oswald" ;
  font-weight: bold;
  color: #ffffff;
  background-color:slategrey;
  border-radius: 25px;
  /*border: 1px solid;*/
}
button:focus {
  outline: 0;
}


input.match-string {
  width: 350px;
  font-weight: bold;
}

button:hover {
  filter: brightness(75%);
  /*background-color:rgba(0, 0, 0, 0.1);*/
}

button:active {
  filter: brightness(75%);
  /*background-color:rgba(0, 0, 0, 0.1);*/
  opacity: 0.60;
}

a {
  color: #00B7FF;
}

.horiz-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horiz-menu li {
  float: left;
}

.horiz-menu a {
  padding-right:20px;
  width: 100px;
}
.horiz-menu li.selected {
  filter: brightness(75%);
  opacity: 0.60;
}
.header {
  font-size: large;
}
.description {
  font-size: small;
}
.fullNameCol {
  cursor: pointer;
}
.fullNameCol:hover {
  filter: brightness(75%);
}
.selected-member {
  filter: brightness(75%);
  opacity: 0.60;
}
.container{
  display:table;
}
.member-list {
  float: left;
  padding-right: 30px;
}
.member-detail {
  float: left;
  border: 1px solid;
  border-radius: 25px;
  padding: 20px;
  min-width: 150px;
}
.form-label {
  float:left;
  width:50px;
  font-weight: bold;
  color:steelblue;
}
.form-value {
  color: #000000;
}
button.paginator {
  padding: 0;
  margin: 0;
  width: 30px;
}
select.paginator {
  margin-left: 10px;
  margin-right: 10px;
}
button.paginator:focus {
  outline: 0;
}
.paginator-label{
  float:left;
  width:30px;
  font-weight: bold;
  color:steelblue;
  margin-left:5px;
}
.paginator-value{
  color: #000000;
}
.paginator-label.page-num{
  width: 50px;
}